body {
  background: url(images/fabric_of_squares_gray.png) repeat;
}

.navbar {
  margin: 5px auto;
}

.navbar-brand span {
  border-bottom: 2px solid #edd400;
}

h1, h2 {
  margin-bottom: 15px;
}

.los-benzenos {
  font-family: 'BeamsRegular';
  font-weight: normal;
  font-style: normal;
}

#banda, #agenda, #fotos, #videos, #downloads, #ouca {
  padding-top: 30px;
}

#footer {
  background: url(images/grey_wash_wall.png) repeat;
  border-top: 6px solid #edd400;
  margin-top: 50px;
}

#footer a {
  color: #333;
}

#footer a:hover {
  color: #333;
  text-decoration: none;
}

.footer-logo {
  margin: 30px auto;
}

.footer-info {
  margin: 30px auto;
}

.footer-info a {
  display: block;
}

.footer-info .fa {
  width: 45px;
  text-align: center;
}

h2 {
  padding-left: 5px;
}

#agenda h3 {
  font-size: 48px;
  font-variant: small-caps;
}

#agenda time {
  width: 190px;
  display: inline-block;
  text-decoration: inherit;
}

#agenda del {
  color: #555;
}

#agenda address {
  font-size: 18px;
  display: inline;
  margin-left: 20px;
}

#agenda a {
  display: inline-block;
  font-size: 28px;
  text-align: center;
  margin: 0 10px;
}

#agenda .ver-poster,
#agenda .ver-fotos,
#agenda .ver-videos {
  display: block;
  font-size: 12px;
  font-variant: normal;
  font-style: italic;
}

p {
  font-size: 16px;
}

p.bg-warning {
  display: inline;
  padding: 10px 15px;
}

#agenda .modal-dialog {
  margin: 15px auto;
  text-align: center;
  width: 550px;
}

#agenda .modal-content img {
  max-height: 620px;
  max-width: 600px;
}

#videos .thumbnail {
  text-align: center;
  background-image: linear-gradient(to left, #EFEFEF, #AAA, #EFEFEF);
}

.alert,
#sobre p, #sobre ul {
  font-size: 18px;
}

#sobre .thumbnail .caption {
  padding-bottom: 5px;
}
